boto3
django
django-storages
django-recaptcha
django-debug-toolbar
django-ses[events]
django-sesame
django-widget-tweaks
django-parler
django-ninja
gunicorn
uvicorn[standard]
python-slugify
openai
openai-agents
python-dotenv
redis
hiredis
django-redis
markdown
celery
django-celery-results
pillow
