{% load i18n %}
{% for story in stories %}
<div class="col">
  <div class="card h-100">
    {% with img=story.images.first %}
      {% if img %}
        <a href="{% url 'story_detail' story.uuid %}">
          <img src="{{ img.thumbnail.url }}" class="card-img-top" alt="{{ story.texts.first.title }} cover" />
        </a>
      {% endif %}
    {% endwith %}
    <div class="card-body  d-flex flex-column">
      <blockquote class="blockquote">
        <a href="{% url 'story_detail' story.uuid %}{% if story.display_language %}?lang={{ story.display_language }}{% endif %}" class="text-reset text-decoration-none">
            {% if story.display_text %}
              {{ story.display_text.title }}
            {% else %}
              {{ story.texts.first.title }}
            {% endif %}
        </a>
      </blockquote>

      <figcaption class="blockquote-footer">
          {% if story.is_anonymous %}
              {% trans "Anonymous" %}
          {% else %}
              {{ story.author.username }}
          {% endif %}
      </figcaption>

      <h5 class="card-title"><a href="{% url 'story_detail' story.uuid %}"></a></h5>

      {% if story.display_audio %}
        <div id="audio-container-{{ story.id }}" class="mt-auto">
          <audio controls class="w-100">
            <source src="{{ story.display_audio.mp3.url }}" type="audio/mpeg" />
          </audio>
        </div>
      {% else %}
        <div id="audio-status-{{ story.id }}" data-create-audio data-story-id="{{ story.id }}" data-language="{{ story.display_language }}" class="mt-auto">
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" id="audio-progress-{{ story.id }}" data-duration="60000" style="width: 0%">{% trans "Creating audio..." %}</div>
          </div>
        </div>
      {% endif %}

    </div>
    <div class="card-footer d-flex justify-content-between align-items-center">
      <span class="badge text-bg-success" data-bs-toggle="tooltip" data-bs-title="Age"
      >{{ story.parameters.age }} +</span>

        {% if user.is_authenticated %}

            <form method="post" action="{% url 'add_to_playlist' story.id %}" class="d-inline">
              {% csrf_token %}
              <button id="add-btn-{{ story.id }}" type="submit" class="btn btn-link text-dark p-0 fw-bolder"
                      data-bs-toggle="tooltip" data-bs-title="{% trans 'Add to Playlist' %}"
                      {% if not story.display_audio %}disabled{% endif %}
              ><i class="bi bi-plus-circle"></i></button>
            </form>

        {%  else %}

            <a href="{% url 'signup' %}"
                    class="btn btn-link text-dark p-0 fw-bolder text-reset text-decoration-none"
                  data-bs-toggle="tooltip" data-bs-title="{% trans 'Add to Playlist' %}"
            ><i class="bi bi-plus-circle"></i></a>

        {% endif %}
      <span>
        <span class="like-btn" style="cursor: pointer;" data-story-id="{{ story.id }}">
            {% if user.is_authenticated and user in story.liked_by.all %}
                <i class="bi bi-star-fill text-warning"></i>
            {% else %}
                <i class="bi bi-star text-warning"></i>
            {% endif %}
        </span>
        <span class="like-count me-1 text-secondary small">{{ story.liked_by.count }}</span>
      </span>
    </div>
  </div>
</div>
{% endfor %}
